@charset "utf-8";

// Include normalize.css untouched and build upon it. 
@import "normalize";

// ======================================================================
// Helpful Variables
// ======================================================================
$color-grey: #656565;
$color-blue: #2b76a4;
$color-green: #76a42b;
$color-offwhite: #fdfaf8;

$width-mobile: 400px;
$width-phablet: 550px;
$width-tablet: 800px;
$width-desktop: 1000px;
$width-desktop-hd: 2400px;

// ======================================================================
// Base Styling for All Pages
// ======================================================================

// HTML font size is set to 62.5% so that, throughout the rest of the 
// stylesheet, 1rem = 10px, 2rem = 20px, etc., assuming default browser 
// font size of 16px.
html {
  font-size: 62.5%;
}

body {
  background: $color-offwhite;
  color: $color-grey;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.7rem;
    @media (max-width: $width-tablet) { font-size: 1.4rem; }
}

a {
  text-decoration: none;
}

p.small_print {
  font-size: 1.2rem;
}

// .column1 {
//   width: 50%;
// }
// .column2 {
//   width: 50%;
// }

// ======================================================================
// Header / Navigation
// ======================================================================

.header_container {
  padding: 2rem 4rem 2rem 4rem;
    @media (max-width: $width-tablet) { padding: 2rem 2rem 1rem 2rem; }
  box-shadow: -1px 2px 0px 1px $color-grey;
}

.header {
  // Restrict max width of header, and center it
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;

  // Define flexbox (row w/ nowrap; justify across row; align bottom)
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 6rem;
    @media (max-width: $width-phablet) { height: 3rem; }
}

.main_nav {
  font-size: 2rem;

  ul {
    list-style: none;
    list-style-type: none;
  }

  #main_menu { display: block }
  #mobile_menu_button { display: none }
    // Hide main menu on mobile and display mobile menu button
    @media (max-width: $width-tablet) { 
      #main_menu {display: none} 
      #mobile_menu_button {font-size: 4rem; display: block;}
    }
    @media (max-width: $width-phablet) { 
      #mobile_menu_button {font-size: 3rem;}
    }
}

#main_menu:not(.expand_mobile_menu) {
  font-size: 2rem;
  
  li {
    display: inline-block;
    padding: 0rem 1rem 0rem 1rem;
  }

  a {
    color: $color-grey;
  }

  a.call_to_action {
    background: $color-green;
    color: $color-offwhite;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    text-transform: uppercase;
    &:hover {
      background: $color-grey;
      transition: all 0.2s linear;
    }
  }
}

#main_menu.expand_mobile_menu {
  display: block !important; 
  font-size: 1.6rem;
  text-align: right;

  // Position in front of body, underneath mobile menu button
  z-index: 100;
  position: absolute;
  right: 1.9rem;
  top: 7.7rem;
    @media (max-width: $width-phablet) { top: 5.5rem; }

  li {
    background: $color-blue;
    border: 1px solid $color-offwhite; 
  }
  li:last-of-type {
    background: $color-green;
  }

  a {
    color: $color-offwhite;
    display: inline-block;
    padding: 1rem 4rem 1rem 4rem;
  }
}

// ======================================================================
// Body Content
// ======================================================================

.body_container {
  padding: 0rem 4rem 2rem 4rem; 
    @media (max-width: $width-tablet) { padding: 0rem 2rem 1rem 2rem; }

  // Restrict max width of body, and center it
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;

  a {
    color: #2b76a4;
    font-weight: 600;
    text-decoration: none;
  }
}

#headshot {
  width: 33%;
  border-radius: 10%;
  float: right;
  margin-left: 1rem;
}

// .welcome {
//   -webkit-animation-name: welcome;
//   -webkit-animation-duration: .9s;
// }

// @-webkit-keyframes welcome {
//   from {
//     -webkit-transform: scale(0);
//     opacity: 0;
//   }
//   50% {
//    -webkit-transform: scale(0);
//    opacity: 0;
//   }
//   82.5% {
//     -webkit-transform: scale(1.03);
//     -webkit-animation-timing-function: ease-out;
//     opacity: 1;
//   }
//   to {
//     -webkit-transform: scale(1);
//   }
// }

// ======================================================================
// Footer Content
// ======================================================================

.footer_container {
  background: $color-blue;
  color: $color-offwhite;
  min-height: 2rem;
  padding: 1rem 4rem 1rem 4rem;
    @media (max-width: $width-tablet) { padding: 0.5rem 2rem 0.5rem 2rem; }

  box-shadow: 0px -3px 0px 0.2rem $color-green;

  a {
    color: $color-offwhite;
    text-decoration: none;
  }
}

.footer {
  // Restrict max width of header, and center it
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;

  ul {
    padding-left: 0;
    list-style: none;
    list-style-type: none;
  }

}
