<header>
      <div class="header_container">
        <div class="header">
          <div class="logo">
            <%= link_to image_tag("bcarradini-logo.svg", alt: "B Carradini Logo"), "#{ENV['BASE_URL']}", target: "_self" %>
          </div><!-- .logo -->
          <nav>
            <ul>
              <li><%= link_to "About Me", "#{ENV['BASE_URL']}/about", target: "_self" %></li>
              <li><%= link_to "Connect", "#{ENV['BASE_URL']}/connect", target: "_self", class: "call_to_action" %></li>
            </ul>
          </nav><!-- .nav -->
        </div><!-- .header -->
      </div><!-- .header_container -->
    </header>
