---
title: Barbara Carradini
---

<div class="body_container">
      <h1>About Me</h1>
      <%= image_tag("bcarradini-headshot.jpg", id: "headshot", alt: "B Carradini Headshot") %>
      <%= partial "content/about" %>
    </div><!-- .body_container -->
