---
title: Barbara Carradini
---

<div class="body_container">
  <%= image_tag("bcarradini-headshot.jpg", id: "headshot", alt: "B Carradini Headshot") %>
  <%= partial "content/about" %>
</div><!-- .body_container -->
