---
title: Barbara Carradini
---

<div class="blue_banner">
  <div class="content_container" id="slogan">Web Development</br>Project Management</div>
  <div class="blue_banner"></div>
</div><!-- .blue_banner -->
<div class="body_container content_container">
  <%= partial "content/welcome" %>
</div><!-- .body_container -->
